# Bright Data SERP API Credentials
# Sign up at https://brightdata.com to get these values
BRIGHT_DATA_CUSTOMER_ID=your_customer_id_here
BRIGHT_DATA_ZONE=your_zone_here  
BRIGHT_DATA_PASSWORD=your_password_here 